<form id=""messageForm">
    <input type="email" id="email" placeholder="insert an email">
    <input type="text" id="message" placeholder="insert message">
    <button type="button" onclick="addMessage(messageForm)" >Add</button>
</form>