<form id="productsForm">
<input type="text" id="title" placeholder="insert a title">
<input type="number" id="price" placeholder="insert price">
<input type="text" id="thumbnail" placeholder="insert thumbnail">
<button type="button" onclick="addProduct(productsForm)" >Add</button>
</form>
